<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">



<!-- NAVBAR -->

 <nav class="navbar navbar-expand-lg" style="background-color: red;" >
                <a class="navbar-brand" href="#" style="color:white;"><b>SPARTON</b></a>
              
                
                    {% comment %} <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li> {% endcomment %}
                      <a  class="navbar-brand" style="color:white;float:right;"href="{% url 'mma_news' %}">MMA</a>
                    <a  class="navbar-brand" style="color:white;float:right;"href="{% url 'logout' %}">Logout</a>
                  
              </nav>

    <!-- NAVBAR ends here -->

    <body>
        

    <br>

<div class="col-md-3 col-lg-3">
{% if user.is_authenticated %}

        <form>
            {{edit_form}}
        </form>
          
           
        {% else %}
           
        {% endif %}
  


</div>

<div class="col-md-6 col-lg-6" style="box-shadow: 5px 5px 5px 5px grey;padding: 5%;">

    <h2 style="text-align:center">My Profile</h2>

    {% comment %} <img src="{{profile.image.url}}" width="350" height="350"> {% endcomment %}
   
<div class="row">

    <h3>About</h3>
    <br>
    
    <h3> {{ profile.headline }}</h3>

    <br>
    <p>Summary: </p>
    <h3> {{ profile.summary }}</h3>

    <br>
    <h5>Hometown</h5>
    <p>{{profile.hometown}}</p>


    <br>
    <p>{{profile.disciplines}}</p>

    <br>
    <br>
        


</div>

    
</div>

<div class="col-md-3 col-lg-3">


</div>
    
    
    
    </body>




</html>