<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">




{% load crispy_forms_tags %}

<!-- NAVBAR -->

 <nav class="navbar navbar-expand-lg" style="background-color: red;" >
                <a class="navbar-brand" href="#" style="color:white;"><b>SPARTON</b></a>
              
                
                    {% comment %} <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li> {% endcomment %}
                      <a  class="navbar-brand" style="color:white;float:right;"href="">MMA</a>
                    <a  class="navbar-brand" style="color:white;float:right;"href="">Logout</a>
                  
              </nav>

    <!-- NAVBAR ends here -->

    <body>
        

    <br>

<div class="col-md-3 col-lg-3">

  
</div>

<div class="col-md-6 col-lg-6"  style="box-shadow: 5px 5px 5px 5px grey;padding: 5%;">

    <h2 style="text-align:center">My Profile</h2>
    {% if user.is_authenticated %}

    <button class="btn btn-primary" onClick="EditForm()">Edit Profile</button>

    <div id="edit_form" style="display:none;">
    <form method="POST" action="{% url 'update_profile' %}">
        {% csrf_token %}
        {{edit_form | crispy}}
        
        <input type="submit">
    </form>
    </div>
           
    {% else %}
           
    {% endif %}

    {% comment %} <img src="{{profile.image.url}}" width="350" height="350"> {% endcomment %}
   
<div class="row" id="profile">

    <h3>About</h3>
    <br>
    
    <h3> {{ profile.headline }}</h3>

    <br>
    <p>Summary: </p>
    <h3> {{ profile.summary }}</h3>

    <br>
    <h5>Hometown</h5>
    <p>{{profile.hometown}}</p>


    <br>
    <p>{{profile.disciplines}}</p>

    <br>
    <h5>Weight</h5>
    <p>{{profile.weight}}</p>

    <br>
    <br>
        


</div>

    
</div>

<div class="col-md-3 col-lg-3">


</div>
    
    
    
    </body>




</html>



<script>

    function EditForm(){
        document.getElementById("profile").style.display = 'none';
        document.getElementById("edit_form").style.display = 'block';


    }


</script>