<html>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg" style="background-color: green;" >
                <a class="navbar-brand" href="#" style="color:white;">Scoutmaster</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#" style="color:white;">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/register" style="color:white;">Sign up</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/accounts/login" style="color:white;">Sign in</a>
                    </li>
                    {% comment %} <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li> {% endcomment %}
                    {% comment %} <a  href="{% url 'logout' %}">Logout</a> {% endcomment %}
                  
                </div>
              </nav>
        
            <!-- NAVBAR ends here -->


            <body>

              <br>
              <br>
           
    {% comment %} {% if user.is_authenticated %}
      <p>Logged as {{ user.username }}</p>
    
    {% else %}
      <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
        Login with Google
      </a>
    {% endif %} {% endcomment %}
  </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>

<br>
              <br>
              <br>
              <br>


            <div style="margin-left:30%;width:30%;text-align:center;box-shadow: 5px 5px 5px 5px grey;padding: 5%;">
            <p>Find a training partner</p>
            <br>
            <p>Find a coach </p>
            <br>
            <p>Attend a camp</p>
            <h6>Under construction</h6>
            </div>

               
          
            </body>
        
</html>